body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #333;
  font-size: 16px;
  text-align: center;
}
.container {
  width: 80%;
  height: auto;
  display: block;
  overflow: hidden;
  background: #eee;
  padding: 20px;
  border-radius: 3px;
  margin: 40px auto;
  text-align: left;
}

.container p{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-weight: 300;
  text-align: center;
  margin: 40px auto;
}
.calendar {
  display: block;
}

/* we need at least 7 days in each row so we set width to 80%/7 - 20(for padding) ~= 10 */
.calendar-day {
  position: relative;
  width: 11%;		/* desired width */
  height: auto;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 1%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: solid 1px #fff;
}



.calendar-day:before {
  content: '';
  padding-top: 100%;
  display: inline-block;
}

.calendar-day-info{
  position:  absolute;
  padding: 2px 8px;
  font-size: small;
  line-height: 2px;
  left: 0;
  bottom: 0;
}

.calendar-day-content{
  position:  absolute;
  line-height: 2px;
  font-size: x-large;
  text-align: center;
  left: 0;
  right: 0;
  top:  50%;
  transform: translate(0, -50%)
}



.calendar-day:hover {
  background-color: skyblue;
}

.controls {
  display: block;
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin-bottom: 10px;
}
.today > .calendar-day-info{
  font-weight: bold;
  color: #333;
  border: solid 1px #333;
}
.label {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
  line-height: 2px;
  margin: 1%;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border: solid 1px #fff;
}
.previous {
  float: left;
}
.next {
  float: right;
}
/* Quick Fix */

.label i {
  line-height: 0;
}
.github {
  font-size: 3em;
  color: #aaa;
  text-decoration: none;
  text-align: center;
}
}
